In [76]:
#de momento importamos las librerías que seguro o casi seguro tenemos que usar

import pandas as pd 
import numpy as np
import regex as re

In [77]:
#igualmente importamos los datos, como tiene caracteres especiales hay que añadir como argumento encoding="latin1"

tiburones = pd.read_csv(r"C:\Users\Juan\Desktop\IronHack_apuntes\Proyecto_Pandas_Tiburones\attacks.csv", encoding= "utf-8", encoding_errors="ignore")

### Exploración inicial

In [78]:
tiburones.shape

(25723, 24)

In [79]:
#vemos a ver qué hay en los 50 primeros

tiburones.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,AdysonMcNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [80]:
#qué cosa más rara, hay muchísimos nulos por detrás, hay que ver cuántos son


tiburones.tail()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
25718,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25719,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25720,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25721,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [81]:


tiburones.info(memory_usage= "deep")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25723 entries, 0 to 25722
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             8702 non-null   object
 1   Date                    6302 non-null   object
 2   Year                    6300 non-null   float64
 3   Type                    6298 non-null   object
 4   Country                 6252 non-null   object
 5   Area                    5847 non-null   object
 6   Location                5762 non-null   object
 7   Activity                5758 non-null   object
 8   Name                    6092 non-null   object
 9   Sex                     5737 non-null   object
 10  Age                     3471 non-null   object
 11  Injury                  6274 non-null   object
 12  Fatal (Y/N)             5763 non-null   object
 13  Time                    2948 non-null   object
 14  Species                 3464 non-null   object
 15  Investigator or Source  6285 non-null   object
 16  pdf                     6302 non-null   object
 17  href formula            6301 non-null   object
 18  href                    6302 non-null   object
 19  Case Number.1           6302 non-null   object
 20  Case Number.2           6302 non-null   object
 21  original order          6309 non-null   float64
 22  Unnamed: 22             1 non-null      object
 23  Unnamed: 23             2 non-null      object
dtypes: float64(2), object(22)
memory usage: 22.7 MB

In [82]:
#Nos quitamos las filas que sólo tienen caracteres nulos, nos hemos quitado unas 16000 filas

tiburones.dropna(how="all", inplace=True)
tiburones.shape

(8703, 24)

In [83]:
#sigue habiendo muchisimos que sobran por todos lados


tiburones.tail(20)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
8683,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8684,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8685,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8686,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8687,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8688,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8689,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8690,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8691,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8692,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8693,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8694,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8695,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8696,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8697,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8698,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8699,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8700,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8701,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [84]:
#Mi teoria es que si hacemos una copia sin la columna del numero de caso(que tiene datos que no son nan pero son inutiles), 
#y hacemos lo que hemos hecho antes para quitar todas las columnas sólo con nulos sabremos qué dimensiones son valores útiles

tiburones_copia_sincaso = tiburones.drop(columns=["Case Number"]).copy()

In [85]:
tiburones_copia_sincaso.dropna(how="all", inplace=True)

In [86]:
tiburones_copia_sincaso.shape
#de las 25000 filas originales sólo nos valen 6309

(6309, 23)

In [87]:
tiburones_copia_sincaso.tail(10) 

#sigue habiendo alguna fila que sobra pero ya tenemos índices

,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
6299,1900-1905,0.0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,NaN,...,NaN,"F. Schwartz, p.23; C. Creswell, GSAF",ND-0003-Ocracoke_1900-1905.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0003,ND.0003,4.0,NaN,NaN
6300,1883-1889,0.0,Unprovoked,PANAMA,NaN,"Panama Bay 8N, 79W",NaN,Jules Patterson,M,NaN,...,NaN,"The Sun, 10/20/1938",ND-0002-JulesPatterson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0002,ND.0002,3.0,NaN,NaN
6301,1845-1853,0.0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,15,...,NaN,S.W. Baker,ND-0001-Ceylon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0001,ND.0001,2.0,NaN,NaN
6302,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6304.0,NaN,NaN
6303,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6305.0,NaN,NaN
6304,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6306.0,NaN,NaN
6305,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6307.0,NaN,NaN
6306,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6308.0,NaN,NaN
6307,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6309.0,NaN,NaN
6308,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6310.0,NaN,NaN

### Homogeneización de las columnas y más exploración

In [88]:
#Pillamos lo que podemos usar del df y homogeneizar las columnas para trabajar mejor
tiburones = tiburones.iloc[0:6302]
tiburones.columns = [col.lower().strip() for col in tiburones.columns]
tiburones.columns = tiburones.columns.str.replace('\s+', ' ', regex=True)
tiburones.columns = [col.replace(" ", "_") for col in tiburones.columns]

In [89]:
tiburones.shape

(6302, 24)

In [90]:
paises = [i for i in tiburones["country"].unique()]
print(len(paises)) #son muchisimos paises
print(paises)

213
['USA', 'AUSTRALIA', 'MEXICO', 'BRAZIL', 'ENGLAND', 'SOUTH AFRICA', 'THAILAND', 'COSTA RICA', 'MALDIVES', 'BAHAMAS', 'NEW CALEDONIA', 'ECUADOR', 'MALAYSIA', 'LIBYA', nan, 'CUBA', 'MAURITIUS', 'NEW ZEALAND', 'SPAIN', 'SAMOA', 'SOLOMON ISLANDS', 'JAPAN', 'EGYPT', 'ST HELENA, British overseas territory', 'COMOROS', 'REUNION', 'FRENCH POLYNESIA', 'UNITED KINGDOM', 'UNITED ARAB EMIRATES', 'PHILIPPINES', 'INDONESIA', 'CHINA', 'COLUMBIA', 'CAPE VERDE', 'Fiji', 'DOMINICAN REPUBLIC', 'CAYMAN ISLANDS', 'ARUBA', 'MOZAMBIQUE', 'FIJI', 'PUERTO RICO', 'ITALY', 'ATLANTIC OCEAN', 'GREECE', 'ST. MARTIN', 'FRANCE', 'PAPUA NEW GUINEA', 'TRINIDAD & TOBAGO', 'KIRIBATI', 'ISRAEL', 'DIEGO GARCIA', 'TAIWAN', 'JAMAICA', 'PALESTINIAN TERRITORIES', 'GUAM', 'SEYCHELLES', 'BELIZE', 'NIGERIA', 'TONGA', 'SCOTLAND', 'CANADA', 'CROATIA', 'SAUDI ARABIA', 'CHILE', 'ANTIGUA', 'KENYA', 'RUSSIA', 'TURKS & CAICOS', 'UNITED ARAB EMIRATES (UAE)', 'AZORES', 'SOUTH KOREA', 'MALTA', 'VIETNAM', 'MADAGASCAR', 'PANAMA', 'SOMALIA', 'NEVIS', 'BRITISH VIRGIN ISLANDS', 'NORWAY', 'SENEGAL', 'YEMEN', 'GULF OF ADEN', 'Sierra Leone', 'ST. MAARTIN', 'GRAND CAYMAN', 'Seychelles', 'LIBERIA', 'VANUATU', 'MEXICO ', 'HONDURAS', 'VENEZUELA', 'SRI LANKA', ' TONGA', 'URUGUAY', 'INDIA', 'MICRONESIA', 'CARIBBEAN SEA', 'OKINAWA', 'TANZANIA', 'MARSHALL ISLANDS', 'EGYPT / ISRAEL', 'NORTHERN ARABIAN SEA', 'HONG KONG', 'EL SALVADOR', 'ANGOLA', 'BERMUDA', 'MONTENEGRO', 'IRAN', 'TUNISIA', 'NAMIBIA', 'NORTH ATLANTIC OCEAN', 'PORTUGAL', 'SOUTH CHINA SEA', 'BANGLADESH', 'PALAU', 'WESTERN SAMOA', 'PACIFIC OCEAN ', 'BRITISH ISLES', 'GRENADA', 'IRAQ', 'TURKEY', 'SINGAPORE', 'NEW BRITAIN', 'SUDAN', 'JOHNSTON ISLAND', 'SOUTH PACIFIC OCEAN', 'NEW GUINEA', 'RED SEA', 'NORTH PACIFIC OCEAN', 'FEDERATED STATES OF MICRONESIA', 'MID ATLANTIC OCEAN', 'ADMIRALTY ISLANDS', 'BRITISH WEST INDIES', 'SOUTH ATLANTIC OCEAN', 'PERSIAN GULF', 'RED SEA / INDIAN OCEAN', 'PACIFIC OCEAN', 'NORTH SEA', 'NICARAGUA ', 'MALDIVE ISLANDS', 'AMERICAN SAMOA', 'ANDAMAN / NICOBAR ISLANDAS', 'GABON', 'MAYOTTE', 'NORTH ATLANTIC OCEAN ', 'THE BALKANS', 'SUDAN?', 'ARGENTINA', 'MARTINIQUE', 'INDIAN OCEAN', 'GUATEMALA', 'NETHERLANDS ANTILLES', 'NORTHERN MARIANA ISLANDS', 'IRAN / IRAQ', 'JAVA', 'SIERRA LEONE', ' PHILIPPINES', 'NICARAGUA', 'CENTRAL PACIFIC', 'SOLOMON ISLANDS / VANUATU', 'SOUTHWEST PACIFIC OCEAN', 'BAY OF BENGAL', 'MID-PACIFC OCEAN', 'SLOVENIA', 'CURACAO', 'ICELAND', 'ITALY / CROATIA', 'BARBADOS', 'MONACO', 'GUYANA', 'HAITI', 'SAN DOMINGO', 'IRELAND', 'KUWAIT', 'YEMEN ', 'REUNION ISLAND', 'FALKLAND ISLANDS', 'CRETE', 'CYPRUS', 'EGYPT ', 'WEST INDIES', 'BURMA', 'LEBANON', 'PARAGUAY', 'BRITISH NEW GUINEA', 'CEYLON', 'OCEAN', 'GEORGIA', 'SYRIA', 'TUVALU', 'INDIAN OCEAN?', 'GUINEA', 'ANDAMAN ISLANDS', 'EQUATORIAL GUINEA / CAMEROON', 'COOK ISLANDS', 'TOBAGO', 'PERU', 'AFRICA', 'ALGERIA', 'Coast of AFRICA', 'TASMAN SEA', 'GHANA', 'GREENLAND', 'MEDITERRANEAN SEA', 'SWEDEN', 'ROATAN', 'Between PORTUGAL & INDIA', 'DJIBOUTI', 'BAHREIN', 'KOREA', 'RED SEA?', 'ASIA?', 'CEYLON (SRI LANKA)']

### Limpiando los investigadores

In [91]:
tiburones["investigator_or_source"].fillna("unknown")

0                            R. Collier, GSAF
1              K.McMurray, TrackingSharks.com
2              K.McMurray, TrackingSharks.com
3                              B. Myatt, GSAF
4                                   A .Kipper
                        ...
6297         H. Taunton; N. Bartlett,  p. 234
6298    H. Taunton; N. Bartlett,  pp. 233-234
6299     F. Schwartz, p.23; C. Creswell, GSAF
6300                      The Sun, 10/20/1938
6301                               S.W. Baker
Name: investigator_or_source, Length: 6302, dtype: object

### Limpiando la columna de especies

In [92]:
#Vamos a rellenar los nulos con "desconocido", también 

tiburones["species"] = tiburones["species"].astype(str)
#tiburones = tiburones.loc[~tiburones["species"].str.contains("involvement")] habíamos pensado en quitar estos casos pero era quitar demasiada info
tiburones["species"].replace({"N/A": "unknown", "": "unknown", "nan": "unknown"}, inplace=True)  
tiburones["species"].fillna("unknown", inplace= True)

In [112]:
#vamos a limpiar la columna con regex
limpieza = {r'\bwhite\s*shark\b': "white_shark",
r'\btiger\s*shark\b': "tiger_shark",
r'\bbull(?:\b|[_-]?shark)\b': "bull_shark",
r'\bshortfin\s*mako\s*shark\b':"mako_shark",
r'\bhammerhead\s*shark\b': "hammerhead_shark",
r'\bblacktip\s*shark\b': "blacktip_shark",
r'\bblue\s*shark\b': 'blue_shark',
r'\blemon\s*shark\b':'lemon_shark',
r'\bdusky\s*shark\b':'dusky_shark',
r'\bspinner\s*shark\b': 'spinner_shark',
r'\bbronze[\W_]*whaler\s*shark\b': 'bronze_whale_shark',
r'\breef\s*shark\b': 'reef_shark',
r'\bblue\s*shark\b': 'blue_shark',
r'\bgalapagos\s*shark\b': "galapagos_shark",
r'\boceanic\s+white[\W_]*tip\s*shark\b': "oceanic_white_tip_sharl"}



for i, e in tiburones["species"].iteritems():
    for pattern, species in limpieza.items():
        if re.search(pattern, e, re.IGNORECASE):
            tiburones.loc[i, "species"] = species
            break

In [110]:
tiburones

,case_number,date,year,type,country,area,location,activity,name,sex,...,species,investigator_or_source,pdf,href_formula,href,case_number.1,case_number.2,original_order,unnamed:_22,unnamed:_23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,white_shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,AdysonMcNeely,F,...,unknown,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,unknown,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,tiger_shark,A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6297,ND.0005,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,...,unknown,"H. Taunton; N. Bartlett, p. 234",ND-0005-RoebuckBay.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0005,ND.0005,6.0,NaN,NaN
6298,ND.0004,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,...,unknown,"H. Taunton; N. Bartlett, pp. 233-234",ND-0004-Ahmun.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0004,ND.0004,5.0,NaN,NaN
6299,ND.0003,1900-1905,0.0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,...,unknown,"F. Schwartz, p.23; C. Creswell, GSAF",ND-0003-Ocracoke_1900-1905.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0003,ND.0003,4.0,NaN,NaN
6300,ND.0002,1883-1889,0.0,Unprovoked,PANAMA,NaN,"Panama Bay 8N, 79W",NaN,Jules Patterson,M,...,unknown,"The Sun, 10/20/1938",ND-0002-JulesPatterson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0002,ND.0002,3.0,NaN,NaN
6301,ND.0001,1845-1853,0.0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,...,unknown,S.W. Baker,ND-0001-Ceylon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0001,ND.0001,2.0,NaN,NaN

In [111]:
e = [e for e in tiburones.species.unique()]
print(e)
print(len(e))

['white_shark', 'unknown', '2 m shark', 'tiger_shark', 'lemon_shark', 'mako_shark', 'reef_shark', 'Invalid incident', 'Tawny nurse shark, 2m', 'Shark involvement not confirmed', 'Questionable', '3 m shark', "6' shark", 'Wobbegong shark', '3.5 m shark', '1.8 m shark', 'blacktip_shark', 'Possibly a wobbegong', 'Injury believed caused by an eel, not a shark', 'galapagos_sharl', '2m shark', 'small shark', 'Wobbegong shark?', 'Juvenile nurse shark', "Nurse shark. 5'", 'Some drowned but other may have been killed by blue sharks', 'Cookiecutter shark', 'Wobbegong shark, 1 m', 'spinner_shark', "8' shark", 'Death may have been due to drowning', "5' shark", "4' to 5' shark", 'Porbeagle, 1.5 m', "5' to 6' shark", 'Nurse shark', 'Shark involvement questionable', 'Oceanic whitetip shark, 1.8 to 2 m', "4' shark", 'A small shark', "Sandtiger shark  2'", 'blue_shark', '"A small shark"', 'Shark involvement prior to death not confirmed', 'No shark invovlement ', 'Seven-gill shark', '3m shark, probably a smooth hound', "3' shark", "9' shark", 'Shark involvement highly doubtful', 'No shark invovlement - it ws a publicity stunt', "10' shark", 'a small shark', 'Wobbegong shark, 2m', 'Broadnose sevengill shark, 1.5 m', " 6' to 8' shark", "3' to 4' shark", 'Invalid', "Nurse shark, 4'", 'Angel shark', 'dogfish shark', 'Tawny nurse shark', "3' to 5' shark", "Said to involve an 8' shark but more likely damage caused by debris", '3+ m shark', 'Mako shark', 'Bronze whaler sharks x 3', "Nurse shark, 2'", "Mako shark, 1.5 m [5'] ", 'Nurse shark, 2.5-ft', 'Bronze whaler', 'Sandtiger shark', 'No shark involvement', "Silky shark, 6.5'", 'bronze_whale_shark', 'Hammerhead sp.', 'juvenile shark', 'hammer_head_shark', "4' shark?", "Thought to involve a 3' to 4' shark, but shark involvement not confirmed", 'Mako shark, 100-lb', 'Shark involvement not cofirmed', "6' to 7' shark", 'small nurse shark', '1m to 1.2 m shark', '3- to 4-foot shark', '3.5 to 4 m shark', '2 m to  3 m shark', '5 m shark', '1.5 m shark', 'Raggedtooth shark, 1.3 m', 'Shark involvement prior to death still to be determined', 'Shark involvement not confirmed & highly unlikely', 'Goblin shark', "2' shark", "12' to 14' shark", '1 m shark', "8' to 10' shark", "7' shark", "4' to 6' shark", "4' tp 5' shark", '1.8 metre shark', "6' to 8' shark", "Oceanic whitetip shark'", " Sandbar shark, 3' to 4'", '3m shark', ' Tawney nurse shark, 1m', 'Cow shark', ' Raggedtooth shark, 2m', '7-gill shark?', '1m shark', '7-gill shark', 'Oceanic whitetip shark', ' Wobbegong shark, 1.6 to 1.8m ', 'Nurse shark?', 'Salmon shark', "Mako shark, 5'", 'Wobbegong, 2m', 'Grey nurse shark, 3m', 'shark involvement not confirmed', 'Raggedtooth shark, 1.5 m', '"small sharks"', '2.5 m shark', "2' to 3' shark", "3.5' to 4' shark", "Porbeagle shark, 7'", '4.5 m shark', 'Salmon shark suspected, but unlikely', "14' to 18'shark", "15' shark", '18" to 24" shark', 'Tawny nurse shark, 40cm', 'Grey nurse shark', "7' to 8' shark ", 'Raggedtooth shark', 'Port Jackson shark, 1m', "10' to 12' shark", '2 to 2.5 m shark', "Possibly a 5' to 6' sandtiger shark", '4 m shark', "Oceanic whitetip shark, 7'", "Sevengill shark, 6' to 8'", 'Zambesi shark', "Sandbar shark, 8'", "1' to 2' shark", '3 m to 4 m shark', 'Oceanic whitetip shark, 2.5m ', 'Mako shark ', 'Oceanic whitetip shark, 2.5m, female', "Porbeagle shark, 8' ", 'Shark involvement prior to death was not confirmed', "Sandtiger shark, 4' to 5'", 'Nurse shark, juvenile ', '20 to 30kg shark', "14' shark", "Oceanic whitetip shark, 6'", 'Wobbegong shark, 1.6m', '2 m to 3 m shark', 'Zambesi shark, 2m ', "Sandtiger shark, 8'", 'Thresher shark', 'Spurdog', "Nurse shark, 6'", 'Thought to involve a Bronze whale shark, 2m', 'Shark involvement probable, but not confirmed', 'Oceanic whitetip shark, 2.5 to 3m', '80 kg shark', "5' to 8' shark", 'Thought to involve a cookie cutter shark', 'Wobbegong shark, 60cm', '2.6 m shark', 'dusky_shark', 'Mako shark, 3m', 'Broadnose sevengill shark', 'Raggedtooth shark, 2m', 'Zambesi shark?', "+3' shark", "2' to 3' juvenile shark", "3'  shark", "2'  shark", 'Starry smoothhound shark, 1m', "4.5 to 5' shark", 'Basking shark', 'Tiger sharks in area', 'Reported by media as shark attack, but shark involvement prior to death was not confirmed', 'Shark involvement not confirmed; thought to be a barracuda bite', "1.5' to 2' shark", "2.5' shark", "Goblin shark, 4.2'", 'Mako shark, 90kg', "Nurse shark, 10'", '"a small shark"', 'Not a shark attack; it was a hoax', '2.27 m shark', '1.5 to 2 m shark', 'Oceanic whitetip sharks were in the vicinity', "9.5' shark?", "Nurse shark, 2' to 3' ", 'Sand shark', ' ', "3' small spotted catshark, Scyliorhinus canicula", 'Questionable Incident', 'Lesser spotted dogfish, Scyliorhinus canicula, less than 80 cm in length', '2.4 m shark', '24" to 30" shark', '2.5 to 3 m shark', '2 to 3 m shark', 'Raggedtooth shark, 150-kg', "1' to 4' shark", "3' to 3.5' shark", 'small catsharks', 'Thought to involve a mako shark, but possibly a sea lion', 'Angel shark, 1.2m ', 'Shark involvement not confirmed, injury may have been caused by a bluefish', '1.8 m blacktip "reef" shark', 'Wobbegong shark, 2 m ', 'Raggedtooth shark, 2.5 m to 3 m ', '3 m, 600-kg shark', "5' to 7' shark", "12' to 18' shark", "12' shark", 'Said to involve a 1.5 m shark', 'Raggedtooth shark, 2.5m ', 'Caribbean reef sharks', "2 m [6.75'] shark, 200-kg shark T", "1.8 m [6'] shark", "3.5 m [11.5']shark", "[4.5' to 5'] shark", "[4' to 5']", 'On 8/13/2005 anglers from New Zealand caught a 2.8 m [9\'3"], 140-kg [309-lb] shark at the same spot. It was believed this was the same shark that killed Alysha', 'Unknown, but it was reported that a shark tooth was recovered from the wound', '"small shark"', '18" to 36" shark', "2 m [6.75'] copper shark", "4 m [13'] shark", "Sandtiger shark, 2.1 m [7'] ", "Nurse shark, 3' ", "3 m [10'] shark", "Raggedtooth shark, 1.5 to 2 m [5' to 6.75']", "2.4 m [8'] shark", "1.2 m [4'] shark", "1.2 m to 1.5 m [4' to 5'] shark", "Longfin mako shark, 3.5 m [11.5'], 350-kg [772-lb] ", '2 sharks, 4.5 m & 3 m ', '"black tipped" shark', "0.9 m to 1.5 m [3' to 5'] shark", "2.4 m to 3.7 m [8' to 12'] shark", "Mako shark, 1.8 m [6']", "Wobbegong shark, 1.2 m [4'] k", 'small sharks', "2 m [6.75'] sevengill  shark", '60 cm [23.6"] blind or brown shark', 'Possibily a  1.5 to 2 m sandtiger shark', 'Shark involvement doubtful', "Mako shark, 3 m to 4 m [10' to 13'] ", "Raggedtooth shark, 3.5 m [11.5'] ", "Wobbegong shark, 1.2 m [4'] ", '2.5 oceanic whitetip shark', "Nurse shark, 60 cm to 90 cm [2' to 3'] ", "1.5 m [5'] shark, either a bronze whaler or a grey nurse shark", '1.2 m [4\'] "grey-colored shark"', '2 m cow shark', 'Unidentified species', "1.5 m to 1.8 m [5' to 6'] shark", "106 cm [3.5']  shark", 'small brown shark', "3.7 m to 4.3 m [12' to 14'] shark", '"sand shark"', "0.9 m to 1.2 m [3' to 4'] shark", '15 cm to 20 cm [6" to 8"] bite diameter just below left knee', "Mako shark, 3 m [10']", "60 cm [2'] captive shark", 'Species unidentified', "Thought to involve a 2 m [6.75'] grey nurse shark", 'Wobbegong shark, 1m', 'Shark involvement not confirmed, injury may be due to a stingray', "2.4 m to 3 m [8' to 10'] grey colored shark", "3.5' to 4.5' shark", "3 m to 3.7 m [10' to 12'] shark", "1' to 2' hammerhead or bonnethed shark", "0.9 m  to 1.2 m [3' to 4'] shark", "Nurse shark, 1.5 m [5'] ", "Sandtiger shark, 3 m [10'] ", "1.2 m [4'] blacktip or sandbar shark", 'Mako shark, 400-lb ', "0.9 m to 1.2 m [3' to 4'] shark; Tooth fragment recovered from hand", "1.5 to 2.5 m [5' to 8.25'] copper shark", '1 m  shark', "2.1 m to 2.4 m [7' to 8'] shark", "0.9 m [3'] shark", 'Nurse shark, 1m ', 'Shark involvement prior to death unconfired', '1.5 m [5\'] "whaler shark"', 'C. leucas tooth fragment recovered from kayak', 'Unidentified', "Mako shark, 2 m [6.75'] ", 'Questionable incident - shark bite may have precipitated drowning', "2' to 3.5' shark", "12' sandtiger shark", "1.5 m [5'] shark", "Mako shark, 14' ", "0.9 m  [3'] shark", "1.2 m to 1.5 m [4.5' to 5'] shark", "2 m [6.75'] shark", '1.8 m to 2.4 m [6\' to 8\'] "black finned shark"', "6 m [20'] shark", "Porbeagle shark, 3 m [10']rk", "1.2 m to 1.8 m [4' to 6'] shark", "2.1 to 2.4 m [7' to 8'] shark", "60 cm to 90 cm [2' to 3'] shark", 'Thought to involve a Zambesi shark', "A 2' shark was seen in the area by witnesses", 'Shark involvement  not confirmed', "Nurse shark, 1.5 m [5']", "1.8 m [6'] grey-colored shark", "Nurse shark, 1.2 m [4'] ", "2 m to 2.5 m [6.75'  to 8.25'] shark", 'Shark involvement  questionable', 'Sevengill shark', '1.3 to 1.6 m shark', "Sevengill shark, 2.4 m [8'] ", '200 to 300 kg shark', 'Mako shark, 1.3 m gaffed ', "3.7 m to 4.6 m [12' to 15'] shark seen in the vicinity", 'A "small shark"', "4.5' to 5' shark", 'Sandtiger shark, 2 m, male ', "Raggedtooth shark, 1.2 m [4'] ", "1.8 m [6'] shark, possibly a blacktip", "Nurse shark, 0.9 m [3'] ", '1.7 m shark', 'sandtiger shark', 'Shark involvement prior to death suspected but not confirmed', 'Soupfin shark', '"juvenile shark"', 'Possibly a sand shark', "1.8 m to 2.1 m [6' to 7'] shark", '"a young shark"', 'said to involve an oceanic whitetip shark', 'nurse shark', "Nurse shark, 0.9 m  [3'] ", "Mako shark, 4.3 m [14']", "1.2 m to 1.5 m [4' to 5']   shark", "1.5 to 1.8 m [5' to 6'] shark", '"sand" shark', "Two 1.2 m to 1.5 m [4' to 5'] sharks", "3.7 m [12'] shark", 'Leopard shark', "Raggedtooth shark, 2.7 m [9'] ", "2.7 m [9'] shark", 'Thought to involve a small sand shark', 'Small shark', "2.1 m [7'] shark", ">1.8 m [6'] shark", '1.3 m [4\'3"] shark', "1.8 m to 2.4 m [6' to 8'] shark, tooth fragments recovered ", "Two 3 m [10'] oceanic whitetip sharks", "Mako shark, 1.8 m [6']  ", 'Unidentified shark', 'Questionable incident', "Nurse shark, 3', 20-lb ", '>2 m shark', "5 m [16.5'] shark", '1.8 m grey shark', "Zambesi shark, 1.7 m [5.5'] ", "3 m [10'], 270- kg [595-lb] shark", 'sand shark', '170-kg, 2.8 m shark', "7' female shark", '"Shark had a very large girth"', 'Grey nurse shark, 2 m', "1.8 m [6'] shark ", "1.8 m to 2.4 m [6' to 8'] shark", 'Shark involvement prior to death could not be determined', '6 m, 600-kg shark', '2 m hammerhead', "Two sharks seen in vicinity: 2.4 m & 4.25 m  [8' & 14'] TL", '2 m shark, possibly a bronze whaler', 'Shark involvement suspected but not confirmed', '150-lb shark', 'Sandbar shark', "1.8 m [6'] sandtiger shark", "3 m [10'] gaffed shark", "7' silvertip shark", '2 m to 2.5 m shark', 'Sand shark?', "1.5 m to 2 m [5' to 6.75'] shark", 'Raggedtooth shark, 2 m ', '1 m "grey-colored" shark', 'Zambezi shark (tooth fragments recovered)', "Mako shark, 3 m [10'], 200-kg [441-lb] ", '1.5 m copper shark', '6 m shark', '40 to 50 sharks attacked survivors in the water', '4.3 m shark', 'Doubtful / Unconfirmed attack / Unable to verify in local records', "Raggedtooth shark, 2.5 m [8.25'] ", 'Raggedtooth shark, 1.96 m, 140-kg ', '1.6 m shark', '>1 m shark', "Raggedtooth shark, 2 m [6.75'] ", "2 m to 2.5 m [6.75'  to 8.25'] sixgill or sevengill shark", "6', 100-lb shark", '1.8 m silky shark', '30-kg [66-lb] shark', 'Shark involvement not confirmed; officials considered barracua', 'Raggedtooth shark ', "2.5 m [8.25'] shark", 'Raggedtooth shark, 56-kg [123-lb] ', 'Raggedtooth shark, 1 m ', 'Raggedtooth shark, >1 m ', '.5 m shark', "4.5' shark", "3 m to 4 m [10' to 13'] shark", "Raggedtooth shark, 1.5 m [5'] (tooth fragment recovered)", "1.8 m [6'] Zambezi shark", 'Blue sharks', 'Questionable incident; reported as shark attack but thought to involve a pinniped instead ', 'Reported as a shark attack, the story was a hoax', '2.1 m [7\'] shark with "a very flat head that had followed the boat for 3 days', "1.8 m [6'] shark, species identity questionable", 'Shark involvement prior to death remains unconfirmed', 'Mako shark (tooth fragments recovered)', '"sandshark"', "Possibly a  1.8 m [6'] Zambezi shark", '"gray shark"', "13', 400-lb thresher shark", 'C. maculpinnis or C. limbatus', "3.5 m [11.5'] shark", "4' to 8' shark", '2.2 m shark', '2 m [6\'9"] Zambesi shark', 'Raggedtooth shark, 2 m [6\'9"] ', "1.8 m [6'] dogfish", "Raggedtooth shark, 50-kg [110-lb], 2 m [6.75'] gaffed ", '2 m [6\'9"] shark', 'Sevengill shark, 2.4 m', '270 kg shark', "1.5 to 2 m [5' to 6.75'] shark", 'Mako shark, 2.3 m, 150-kg  ', "2.7 m  [9'] shark", 'Mako shark, 180-kg [397-lb]', 'Whale shark', "Grey nurse shark, 10' ", 'Shark involvement unconfirmed', "2.4 m [8'] whaler shark", "1.5 m [5']  shark", "Mako shark, 3 m [10'] ", "Carpet shark, 10' ", 'Copper shark, 50-kg [110-b] ', "small sharks'", "3.7 m [12'] sharks", "Raggedtooth shark, 1.5 m [5'] ", "1.2 m to 1.8 m [4' to 6'] shark observed in area", 'Oceanic whitetip shark x 2', '1.5 m to 2 m shark', "Grey nurse shark, 11'", '3.6 m  porbeagle shark', '1.8 to 2 m C. albimarginatus', '"Dog shark"', "7.5' shark", 'Raggedtooth shark, 2 m [6\'9"], 5-year-old, captive female ', 'Wobbegong shark ', 'Carpet shark', ">2.4 m [8'] shark", 'Considered a "Doubtful" incident', "2 scalloped hammerhead sharks, 1.5 m & 1.8 m [5' & 6']", '90-kg "blackfin" shark', "4m [13'] shark", 'Not authenticated', "2.7 m [9'] silky shark", '"Blue whaler" (Galeolamna)', "1.5 m to 1.8m [5' to 6'] shark", 'Nurse shark, 106 cm, 28-lb, male ', "1.5 m to 1.8 m [5' to 6'] sandbar shark", 'Nurse shark, 1 m ', "2.1 m [7'] sandtiger shark", "Grey nurse shark, 1.5 m [5'] ", "Grey nurse shark, 1.5 m [5']", "Mako shark, 1.9 m [6.5'] ", "Nurse shark, 2.5' ", 'A pack of 6 sharks', "1.5 m to 2.1 m  [5' to 7'] shark", 'Spinner or blacktip sharks', "Local authorities speculated that the water was too cold for sharks, but a 2.1 m [7'], 200-lb pregnant sandbar shark was caught next day", 'Copper shark', "Wobbegong shark, 5' ", "1.5 m to 1.8 m [5' to 6'] Zambesi shark", "76 cm [2.5'] carpet shark", '1.8 m to 2 m [6\' to 6\'9"] shark', "1.8 m [6'] carpet shark", "4.6 m [15'] shark", "Grey nurse shark, 2.4 m [8'] ", "1.8 m [6'], 180-lb shark", '2 sharks involved', '300-kg [662-lb] shark', "1.8 m [6'], 136-kg [300-lb] shark ", "4.9 m [16'] whaler", "Nurse shark, 0.94 m to 1.2 m [3' to 4'] ", "1.5 m to 2.1 m [5' to 7'] shark, possibly a mako shark", "Grey nurse shark, 1.8 m [6']", "1.8 to 2.4 m [6' to 8'] shark", "Less than 1.2 m [4']", "1.7 m [5.5'] shark", 'Wobbegong', "2.1 m to 2.4 m  [7' to 8'] shark", "Zambesi shark, 1.8 m [6'] ", "1.8 m [6']  shark", "4.3 m [14'], 1000-lb shark", "Wobbegong shark, 3' ", '300- to 400-lb Zambesi shark', 'Possibly a broadnose 7-gill shark', "Silky shark, 1.9 m [6.5']", 'Dooley believed his Injury was caused by stingray (Dasyatidae family)', '500-lb shark', "5.5 m [18'] shark", '8 sharks', "1.8 m to 2.4 m  [6' to 8'] shark", "3.7 to 4.5 m [12' to 15'] shark seen in vicinity", '193-lb shark', "Grey nurse shark, 1.8 m [6'] ", '<1.5 m shark', 'Zambesi shark, 2 m [6\'9"] ', '2 m [6\'9"], 87.5-kg [193-lb]  shark', "3 m [10'] blue whaler", '"A long thin brown-colored shark"', "Horn shar,k Heterodontus francisci, 1.2 m [4'] ", "4.3 m [14'] shark", 'Unknown', "2.7 m to 3 m [9' to 10'] sharks", " Sevengill  shark, 1.2 m [4'] ", "Zambesi shark, 1.2 m [4'] ", "4.9 m [16']shark", "1.2 m  [4'] shark", '60 cm  shark ', 'Said to involve a 4.9 m [16\'] "red shark"', " Grey nurse shark,  3 m [10'] ", "Said to involve a Grey nurse shark 3.7 m [12'] ", '36"  shark', "Next morning a 3 m [10'] shark was caught that had Andrews' leg in its gut", "Two shark's teeth recovered from canoe", 'Oceanic whitetip shar,; identified by Dr. W.C. Schoeder on photograph & Dr. L.P. L. Schultz on sketch by observer', "1.5 m to 1.8 m  [5' to 6'] shark", '43" shark', "2.7 m [9']shark", 'Wobbegong shark, 1.4 m [4\'6"] ', '2 m  "yellow belly" captive shark. Shark destroyed by aquarium staff next day', "Wobbegong shark, O. barbatus,  1.8 m [6'], identified by G.P. Whitley", ' "gummy" shark (Rhizoprionodon or Loxodon) 1.2 m [4\']', "Grey nurse shark, 2,7 m [9'], 200-lb ", "Wobbegong shark, 1.4 m [4.6'] ", 'Zambesi shark, 4\'9"', '2\' "banjo shark"', "2.1 m [7'], 90-kg shark", "Grey nurse shark, 2.7 m [9'] ", "Wobbegong shark, 1.5 m [5'] ", "Six Zambesi sharks seen to 1.5 m [5'] in length", '> 3 m shark', 'Grey nurse shark, 1m ', "Wobbegong shark, 1.8 m [6'] ", "2.4 m [8'], 600-lb shark", '80-lb hooked shark', "Mako shark, 1.8 m to 2.1 m [6' to 7']  with hook & wire leader caught in mouth", 'Raggedtooth shark, 100-lb ', "1.2 m [4'], possibly  larger shark", "Two 2.1 m [7'] sharks", 'According to Benjamin, the injury was inflicted by a barracuda, not a shark', 'Grey nurse shark, 2.9 m [9\'6"] ', 'Shark involvement prior to deaths was not confirmed', '3.5 m [11\'6"] shark captured', 'Blue pointer', "4.9 m [16'] shark", "3.7 m to 4.6 m [12' to 15'] shark", "2.4 m  [8'] shark", "2.7 m [9']  shark", "3 m to 4.3 m [10' to 14'] shark", "Thresher shark, 3.7 m [12'] ", "Carpet shark, 1.5 m [5']", "5.5' shark", '20 kg shark', 'Nurse shark, 60 cm [24"], identified by Dr. L.P. L. Schultz on photograph', "Oceanic whitetip shark,1.8 m [6'] ", "Mako shark, 2.4 m [8'], <300-lb, identified by Dr. L.P. L. Schultz on photograph", "1.8 to 2.1 m [6' to 7'] shark", "Bitten by several 1.8 m [6'] sharks", "Said to involve 2 sharks: 5.2 m & 6 m [17' & 20'] ", "1.4 m [4.5'] shark", "1.5 m to 1.8 m [5' to 6'] sharks", '200-lb shark', "Sharks averaged 1.8 m [6'] in length", "Nurse shark, 1.5 m [5']  identified by Dr. E. Clark on description of shark", "Nurse shark, 2.1 m [7']  identified by Dr. E. Clark on color & tooth impressions", "Nurse shark, 1.1 m [3.5'] ", 'Mako shark, 100-kg [221-lb] ', '<1 m shark', 'Several sharks involved', ">3 m [10'] shark", 'Identified as carcharinid shark (based on its behavior) by Dr. D.P. L. Schultz; mako shark according to Huges', 'Shark seen feeding on turtle scraps thrown overboard prior to incident.', 'Said to involve a large mako shark', "3.7 m [12'] shark ", 'Mako shark, 125-lb ', 'a sand shark', "Wobbegong shark, 4' ", "2.3 m [7'] shark", '8-lb shark', "3.7 m [12'] shark & may have been another shark nearby", '40-lb sand shark', 'Survivors said 2 species of sharks were involved:  oceanic whitetip sharks and another species', 'Survivors said 2 species of sharks were involved:  oceanic whitetip sharks and another species,', 'Tooth fragments recovered from hull', "0.7 m [2.5'] sand shark", "2.4 m [8']  shark", '"small brown-colored shark"', "Leopard shark, 3' Triakis semifasciata, identified by J.W. DeWitt (1955)", "4 m [13'] shark x 6", '"a little shark"', "20' shark", 'Nurse shark, 58", 34-lb ', '5m shark', "Nurse shark, 1.8 m [6'] ", "a small shark'", "Said to involve a >4 m [13'] shark", "3.7 [12'] shark", '80-lb sand shark', "3 m [10'] shark seen in vicinity", '2 m [6\'9"] shark ', ">6.7 m [22']  shark", "Carpet shark, 5' ", '"A 2\' (0.6 m) brown shark"', 'a "small slim brown shark"', '"Attacked by a number of sharks"', "Wobbegong shark, 4'", '136-kg [300-lb] shark', "Nurse shark, 10' ", "Wobbegong shark, 6'", '1,100-lb shark', "0.7 m [2.5'] shark", '2.13 m shark', "1.5 m to 1.8 m [5' to 6'] spear-eye shark ", 'small carpet shark', "2.7 m [9'] shark with black-tipped pectoral fins", "Grey nurse shark, 2.6 m [8.5']  ", 'Bonita sharkk, 200-lb', "Whaler shark, 2.7 m [9'], 350- to 450-lb  identified by G.P. Whitley", '3.3 m [10\'9"] shark', "Said to be 6.4 m [21'] shark", '"grey shark"', 'Possibly C. leucas', 'Most likely, a small shark', '1.5 m, 45-kg shark', '4.5  m [14\'9"] shark', '>1.6 m shark', "6 m [20']  shark", 'Shark involvement prior to death unconfirmed', "1.8 m to 2.4 m [6' to 8'] sharks, most were oceanic whitetip sharks", 'Porbeagle shark', "Said to involve a 6.5 m [21.5'] shark", 'Said to be leopard sharks, more probably tiger sharks', '100-lb shark', "Mako shark (aka bonito shark) 1.2 m [4'] ", "Questionable incident, said to involve a 6' shark", "2.6 m [8.5'] shark landed 2 hours later", "Blue pointer, 16'", 'whaler shark', "Nurse shark, 2.1 m [7']", "18' shark", '"a large shark"', '"grey-colored shark"', "2.6 m [8.5'] shark", "Whaler shark, 4 m [13'] ", '2

### Limpiando un poco el sexo

In [68]:
#vamos a solucionar el sexo que eso va a ser más sencillo
tiburones["sex"].unique()
tiburones["sex"].fillna('unknown', inplace=True)

tiburones["sex"].replace({'M ': 'M',
                'lli': 'unknown', 
                'N': 'unknown',
                '.': 'unknown'
                }, inplace=True)  #vamos a homogeneizar las "M" y vamos a rellenar los datos mal introducidos y los NaN

tiburones

,case_number,date,year,type,country,area,location,activity,name,sex,...,species,investigator_or_source,pdf,href_formula,href,case_number.1,case_number.2,original_order,unnamed:_22,unnamed:_23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,AdysonMcNeely,F,...,unknown,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,unknown,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6297,ND.0005,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,...,unknown,"H. Taunton; N. Bartlett, p. 234",ND-0005-RoebuckBay.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0005,ND.0005,6.0,NaN,NaN
6298,ND.0004,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,...,unknown,"H. Taunton; N. Bartlett, pp. 233-234",ND-0004-Ahmun.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0004,ND.0004,5.0,NaN,NaN
6299,ND.0003,1900-1905,0.0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,...,unknown,"F. Schwartz, p.23; C. Creswell, GSAF",ND-0003-Ocracoke_1900-1905.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0003,ND.0003,4.0,NaN,NaN
6300,ND.0002,1883-1889,0.0,Unprovoked,PANAMA,NaN,"Panama Bay 8N, 79W",NaN,Jules Patterson,M,...,unknown,"The Sun, 10/20/1938",ND-0002-JulesPatterson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0002,ND.0002,3.0,NaN,NaN
6301,ND.0001,1845-1853,0.0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,...,unknown,S.W. Baker,ND-0001-Ceylon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0001,ND.0001,2.0,NaN,NaN

### Limpiando un poco los años

In [69]:
tiburones[["year", "date", "case_number"]][tiburones["year"].isna()]
tiburones[["year", "date", "case_number"]][tiburones['year']<1500] #hay muchos años que directamente no tienen demasiado sentido, por ejemplo estos

       year            date case_number
6174  500.0  Circa 500 A.D.  0500.00.00
6175   77.0        77  A.D.  0077.00.00
6176    5.0      Ca. 5 A.D.  0005.00.00
6177    0.0    Ca. 214 B.C.   0000.0214
6178    0.0   Ca. 336.B.C..   0000.0336
...     ...             ...         ...
6297    0.0     Before 1903     ND.0005
6298    0.0     Before 1903     ND.0004
6299    0.0       1900-1905     ND.0003
6300    0.0       1883-1889     ND.0002
6301    0.0       1845-1853     ND.0001

[128 rows x 3 columns]

In [72]:
#vamos a quitar lo anterior, demasiado general y poco fiable

tiburones.drop(index = tiburones[tiburones['year']<1500].index,inplace = True)

,case_number,date,year,type,country,area,location,activity,name,sex,...,species,investigator_or_source,pdf,href_formula,href,case_number.1,case_number.2,original_order,unnamed:_22,unnamed:_23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,AdysonMcNeely,F,...,unknown,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,unknown,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6169,1595.00.00,1595,1595.0,Unprovoked,INDIA,Kerala,River Cochin,Ship lay at anchor & man was working on its ru...,male,M,...,unknown,The Voyage of John Huyghen van Linschoten,1595.00.00-Cochin.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1595.00.00,1595.00.00,134.0,NaN,NaN
6170,1580.01.10.R,Letter dated 10-Jan-1580,1580.0,Unprovoked,Between PORTUGAL & INDIA,NaN,NaN,Man fell overboard from ship. Those on board t...,male,M,...,unknown,"G.P. Whitley, p. 10",1580.01.10.R-Portugal-India.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1580.01.10.R,1580.01.10.R,133.0,NaN,NaN
6171,1555.00.00,1555,1555.0,Unprovoked,NaN,NaN,NaN,Swimming,male,M,...,unknown,Olaus Magnus,1555.00.00 - Olaus Magnus.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1555.00.00,1555.00.00,132.0,NaN,NaN
6172,1554.00.00,Ca. 1554,1554.0,Unprovoked,FRANCE,Nice & Marseilles,NaN,NaN,males (wearing armor),M,...,white_shark,G. Rondelet,1554.00.00-Rondelet.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1554.00.00,1554.00.00,131.0,NaN,NaN
6173,1543.00.00,Ca. 1543,1543.0,Unprovoked,VENEZUELA,Magarita or Cubagua Islands,NaN,Pearl diving,Indian slave,M,...,unknown,J. Castro,1543.00.00.R-LasCasas.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1543.00.00,1543.00.00,130.0,NaN,NaN