In [2]:
#de momento importamos las librerías que seguro o casi seguro tenemos que usar

import pandas as pd 
import numpy as np

In [3]:
#igualmente importamos los datos, como tiene caracteres especiales hay que añadir como argumento encoding="latin1"

tiburones = pd.read_csv(r"C:\Users\Juan\Desktop\IronHack_apuntes\Proyecto_Pandas_Tiburones\attacks.csv", encoding= "utf-8", encoding_errors="ignore")

### Exploración inicial

In [4]:
tiburones.shape

(25723, 24)

In [5]:
#vemos a ver qué hay en los 50 primeros

tiburones.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,AdysonMcNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [6]:
#qué cosa más rara, hay muchísimos nulos por detrás, hay que ver cuántos son


tiburones.tail()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
25718,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25719,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25720,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25721,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:


tiburones.info(memory_usage= "deep")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25723 entries, 0 to 25722
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             8702 non-null   object
 1   Date                    6302 non-null   object
 2   Year                    6300 non-null   float64
 3   Type                    6298 non-null   object
 4   Country                 6252 non-null   object
 5   Area                    5847 non-null   object
 6   Location                5762 non-null   object
 7   Activity                5758 non-null   object
 8   Name                    6092 non-null   object
 9   Sex                     5737 non-null   object
 10  Age                     3471 non-null   object
 11  Injury                  6274 non-null   object
 12  Fatal (Y/N)             5763 non-null   object
 13  Time                    2948 non-null   object
 14  Species                 3464 non-null   object
 15  Investigator or Source  6285 non-null   object
 16  pdf                     6302 non-null   object
 17  href formula            6301 non-null   object
 18  href                    6302 non-null   object
 19  Case Number.1           6302 non-null   object
 20  Case Number.2           6302 non-null   object
 21  original order          6309 non-null   float64
 22  Unnamed: 22             1 non-null      object
 23  Unnamed: 23             2 non-null      object
dtypes: float64(2), object(22)
memory usage: 22.7 MB

In [8]:
#Nos quitamos las filas que sólo tienen caracteres nulos, nos hemos quitado unas 16000 filas

tiburones.dropna(how="all", inplace=True)
tiburones.shape

(8703, 24)

In [9]:
#sigue habiendo muchisimos que sobran por todos lados


tiburones.tail(20)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
8683,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8684,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8685,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8686,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8687,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8688,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8689,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8690,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8691,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8692,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8693,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8694,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8695,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8696,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8697,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8698,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8699,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8700,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8701,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
#Mi teoria es que si hacemos una copia sin la columna del numero de caso(que tiene datos que no son nan pero son inutiles), 
#y hacemos lo que hemos hecho antes para quitar todas las columnas sólo con nulos sabremos qué dimensiones son valores útiles

tiburones_copia_sincaso = tiburones.drop(columns=["Case Number"]).copy()

In [11]:
tiburones_copia_sincaso.dropna(how="all", inplace=True)

In [12]:
tiburones_copia_sincaso.shape
#de las 25000 filas originales sólo nos valen 6309

(6309, 23)

In [13]:
tiburones_copia_sincaso.tail(10) 

#sigue habiendo alguna fila que sobra pero ya tenemos índices

,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
6299,1900-1905,0.0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,NaN,...,NaN,"F. Schwartz, p.23; C. Creswell, GSAF",ND-0003-Ocracoke_1900-1905.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0003,ND.0003,4.0,NaN,NaN
6300,1883-1889,0.0,Unprovoked,PANAMA,NaN,"Panama Bay 8N, 79W",NaN,Jules Patterson,M,NaN,...,NaN,"The Sun, 10/20/1938",ND-0002-JulesPatterson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0002,ND.0002,3.0,NaN,NaN
6301,1845-1853,0.0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,15,...,NaN,S.W. Baker,ND-0001-Ceylon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0001,ND.0001,2.0,NaN,NaN
6302,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6304.0,NaN,NaN
6303,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6305.0,NaN,NaN
6304,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6306.0,NaN,NaN
6305,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6307.0,NaN,NaN
6306,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6308.0,NaN,NaN
6307,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6309.0,NaN,NaN
6308,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6310.0,NaN,NaN

### Homogeneización de las columnas y más exploración

In [14]:
#Pillamos lo que podemos usar del df y homogeneizar las columnas para trabajar mejor
tiburones = tiburones.iloc[0:6302]
tiburones.columns = [col.lower().strip() for col in tiburones.columns]
tiburones.columns = tiburones.columns.str.replace('\s+', ' ', regex=True)
tiburones.columns = [col.replace(" ", "_") for col in tiburones.columns]

In [15]:
tiburones.shape

(6302, 24)

In [16]:
paises = [i for i in tiburones["country"].unique()]
print(len(paises)) #son muchisimos paises
print(paises)

213
['USA', 'AUSTRALIA', 'MEXICO', 'BRAZIL', 'ENGLAND', 'SOUTH AFRICA', 'THAILAND', 'COSTA RICA', 'MALDIVES', 'BAHAMAS', 'NEW CALEDONIA', 'ECUADOR', 'MALAYSIA', 'LIBYA', nan, 'CUBA', 'MAURITIUS', 'NEW ZEALAND', 'SPAIN', 'SAMOA', 'SOLOMON ISLANDS', 'JAPAN', 'EGYPT', 'ST HELENA, British overseas territory', 'COMOROS', 'REUNION', 'FRENCH POLYNESIA', 'UNITED KINGDOM', 'UNITED ARAB EMIRATES', 'PHILIPPINES', 'INDONESIA', 'CHINA', 'COLUMBIA', 'CAPE VERDE', 'Fiji', 'DOMINICAN REPUBLIC', 'CAYMAN ISLANDS', 'ARUBA', 'MOZAMBIQUE', 'FIJI', 'PUERTO RICO', 'ITALY', 'ATLANTIC OCEAN', 'GREECE', 'ST. MARTIN', 'FRANCE', 'PAPUA NEW GUINEA', 'TRINIDAD & TOBAGO', 'KIRIBATI', 'ISRAEL', 'DIEGO GARCIA', 'TAIWAN', 'JAMAICA', 'PALESTINIAN TERRITORIES', 'GUAM', 'SEYCHELLES', 'BELIZE', 'NIGERIA', 'TONGA', 'SCOTLAND', 'CANADA', 'CROATIA', 'SAUDI ARABIA', 'CHILE', 'ANTIGUA', 'KENYA', 'RUSSIA', 'TURKS & CAICOS', 'UNITED ARAB EMIRATES (UAE)', 'AZORES', 'SOUTH KOREA', 'MALTA', 'VIETNAM', 'MADAGASCAR', 'PANAMA', 'SOMALIA', 'NEVIS', 'BRITISH VIRGIN ISLANDS', 'NORWAY', 'SENEGAL', 'YEMEN', 'GULF OF ADEN', 'Sierra Leone', 'ST. MAARTIN', 'GRAND CAYMAN', 'Seychelles', 'LIBERIA', 'VANUATU', 'MEXICO ', 'HONDURAS', 'VENEZUELA', 'SRI LANKA', ' TONGA', 'URUGUAY', 'INDIA', 'MICRONESIA', 'CARIBBEAN SEA', 'OKINAWA', 'TANZANIA', 'MARSHALL ISLANDS', 'EGYPT / ISRAEL', 'NORTHERN ARABIAN SEA', 'HONG KONG', 'EL SALVADOR', 'ANGOLA', 'BERMUDA', 'MONTENEGRO', 'IRAN', 'TUNISIA', 'NAMIBIA', 'NORTH ATLANTIC OCEAN', 'PORTUGAL', 'SOUTH CHINA SEA', 'BANGLADESH', 'PALAU', 'WESTERN SAMOA', 'PACIFIC OCEAN ', 'BRITISH ISLES', 'GRENADA', 'IRAQ', 'TURKEY', 'SINGAPORE', 'NEW BRITAIN', 'SUDAN', 'JOHNSTON ISLAND', 'SOUTH PACIFIC OCEAN', 'NEW GUINEA', 'RED SEA', 'NORTH PACIFIC OCEAN', 'FEDERATED STATES OF MICRONESIA', 'MID ATLANTIC OCEAN', 'ADMIRALTY ISLANDS', 'BRITISH WEST INDIES', 'SOUTH ATLANTIC OCEAN', 'PERSIAN GULF', 'RED SEA / INDIAN OCEAN', 'PACIFIC OCEAN', 'NORTH SEA', 'NICARAGUA ', 'MALDIVE ISLANDS', 'AMERICAN SAMOA', 'ANDAMAN / NICOBAR ISLANDAS', 'GABON', 'MAYOTTE', 'NORTH ATLANTIC OCEAN ', 'THE BALKANS', 'SUDAN?', 'ARGENTINA', 'MARTINIQUE', 'INDIAN OCEAN', 'GUATEMALA', 'NETHERLANDS ANTILLES', 'NORTHERN MARIANA ISLANDS', 'IRAN / IRAQ', 'JAVA', 'SIERRA LEONE', ' PHILIPPINES', 'NICARAGUA', 'CENTRAL PACIFIC', 'SOLOMON ISLANDS / VANUATU', 'SOUTHWEST PACIFIC OCEAN', 'BAY OF BENGAL', 'MID-PACIFC OCEAN', 'SLOVENIA', 'CURACAO', 'ICELAND', 'ITALY / CROATIA', 'BARBADOS', 'MONACO', 'GUYANA', 'HAITI', 'SAN DOMINGO', 'IRELAND', 'KUWAIT', 'YEMEN ', 'REUNION ISLAND', 'FALKLAND ISLANDS', 'CRETE', 'CYPRUS', 'EGYPT ', 'WEST INDIES', 'BURMA', 'LEBANON', 'PARAGUAY', 'BRITISH NEW GUINEA', 'CEYLON', 'OCEAN', 'GEORGIA', 'SYRIA', 'TUVALU', 'INDIAN OCEAN?', 'GUINEA', 'ANDAMAN ISLANDS', 'EQUATORIAL GUINEA / CAMEROON', 'COOK ISLANDS', 'TOBAGO', 'PERU', 'AFRICA', 'ALGERIA', 'Coast of AFRICA', 'TASMAN SEA', 'GHANA', 'GREENLAND', 'MEDITERRANEAN SEA', 'SWEDEN', 'ROATAN', 'Between PORTUGAL & INDIA', 'DJIBOUTI', 'BAHREIN', 'KOREA', 'RED SEA?', 'ASIA?', 'CEYLON (SRI LANKA)']

### Limpiando los investigadores

In [17]:
tiburones["investigator_or_source"].fillna("unknown")

0                            R. Collier, GSAF
1              K.McMurray, TrackingSharks.com
2              K.McMurray, TrackingSharks.com
3                              B. Myatt, GSAF
4                                   A .Kipper
                        ...
6297         H. Taunton; N. Bartlett,  p. 234
6298    H. Taunton; N. Bartlett,  pp. 233-234
6299     F. Schwartz, p.23; C. Creswell, GSAF
6300                      The Sun, 10/20/1938
6301                               S.W. Baker
Name: investigator_or_source, Length: 6302, dtype: object

### Limpiando la columna de especies

In [18]:
#especies =[i for i in tiburones["species_"].unique()] 
#especies

In [31]:
#Vamos a rellenar los nulos con "desconocido" y vamos a quitar los casos que tengan "involvement", pues hemos observado que en un número sustancial de casos contienen casos que no tienen mucho que ver con ataques de tiburón.
#Igualmente vamos a rellenar los nulos con "unknown", se podría rellenar con las especies de tiburón que más frecuentemente atacan pero preferimos tener unos datos más incompletos antes que inventarnos demasiado.

tiburones["species"] = tiburones["species"].astype(str)
tiburones = tiburones.loc[~tiburones["species"].str.contains("involvement")]
tiburones["species"].replace({"N/A": "unknown", "": "unknown", "nan": "unknown"}, inplace=True)  #hay veces que "nan" es lo que está en la celda y no es un relleno de pandas
tiburones["species"].fillna("unknown", inplace= True)

In [32]:
s =[ i for i in tiburones["species"]]
s

['White shark',
 'unknown',
 'unknown',
 '2 m shark',
 'Tiger shark, 3m',
 'unknown',
 'Tiger shark',
 "Lemon shark, 3'",
 "Bull shark, 6'",
 'unknown',
 'Grey reef shark',
 'unknown',
 'unknown',
 'Invalid incident',
 'Tawny nurse shark, 2m',
 'unknown',
 'unknown',
 'Tiger shark',
 'unknown',
 'Questionable',
 '3 m shark',
 'White shark, 3.5 m',
 'Tiger shark',
 'White shark, 2.5 m',
 "6' shark",
 'Juvenile bull shark',
 'unknown',
 'unknown',
 'unknown',
 'Tiger shark',
 '2 m shark',
 'Bull shark',
 'White shark',
 "Tiger shark, 12'",
 'Wobbegong shark',
 '3.5 m shark',
 '1.8 m shark',
 'Blacktip shark',
 'white_shark',
 'unknown',
 'Bull shark, 2 m',
 'Possibly a wobbegong',
 'Injury believed caused by an eel, not a shark',
 'Galapagos shark?',
 '2m shark',
 'Bull shark',
 'Bull shark, 3 m ',
 'Grey reef shark. 2 m',
 'White shark, 3.5 m',
 'small shark',
 'Wobbegong shark?',
 'Tiger shark',
 'unknown',
 'Juvenile nurse shark',
 "Nurse shark. 5'",
 'Tiger shark, female',
 'Tiger shark, female',
 'Some drowned but other may have been killed by blue sharks',
 'White shark, 4.6 m',
 'unknown',
 'unknown',
 '2 m shark',
 'Tiger shark',
 'Cookiecutter shark',
 'Wobbegong shark, 1 m',
 'unknown',
 'unknown',
 'unknown',
 'unknown',
 'White shark, 4.5 m',
 '2 m shark',
 'Spinner shark, 4 to 5 feet',
 'Tiger shark, 8 to 10 feet',
 "8' shark",
 'Death may have been due to drowning',
 "5' shark",
 'White shark, 3.5 m',
 'Questionable',
 "4' to 5' shark",
 'unknown',
 'Porbeagle, 1.5 m',
 'unknown',
 'unknown',
 'unknown',
 'White shark, 3.5m',
 "5' to 6' shark",
 'unknown',
 'White shark, 3 to 3.5m ',
 'unknown',
 'unknown',
 'unknown',
 'Nurse shark',
 'unknown',
 'unknown',
 'White shark, 3 m',
 'unknown',
 'unknown',
 "White shark, 5' to 7'",
 "5' shark",
 'Possibly a juvenile blacktip shark',
 'white_shark',
 "4' shark",
 "White shark, 10'",
 'unknown',
 'A small shark',
 'unknown',
 'unknown',
 'unknown',
 'unknown',
 "Sandtiger shark  2'",
 "Blue shark 6'",
 '"A small shark"',
 "White shark, 11' to 13'",
 "White shark, 8' to 10'",
 "White shark, 9'",
 'unknown',
 'White shark',
 "Bull shark, 4' to 5'",
 'Tiger shark, 100 kg',
 'White shark, 2.5 m',
 'No shark invovlement ',
 'unknown',
 'unknown',
 "Bull shark, 4' to 5'",
 'Bull shark, 2m',
 'unknown',
 'unknown',
 'unknown',
 'White shark, 4 m',
 'Seven-gill shark',
 'unknown',
 '3m shark, probably a smooth hound',
 "8' shark",
 'Tiger shark',
 "3' shark",
 'Tiger shark',
 'unknown',
 'unknown',
 "9' shark",
 'unknown',
 'unknown',
 'unknown',
 'unknown',
 'unknown',
 'unknown',
 'No shark invovlement - it ws a publicity stunt',
 'unknown',
 'unknown',
 'White shark',
 "Tiger shark, 12'",
 'unknown',
 'unknown',
 'unknown',
 'unknown',
 'unknown',
 'unknown',
 'unknown',
 'unknown',
 "Bull shark, 5' to 7'",
 'unknown',
 'unknown',
 'White shark',
 "10' shark",
 'Lemon shark',
 'Bull shark, 1.5',
 'unknown',
 'unknown',
 'unknown',
 'unknown',
 'Lemon shark pup',
 'Tiger shark',
 "White shark, female, 14'",
 'Caribbean reef shark',
 'unknown',
 'unknown',
 'Bull shark, 4 m',
 'unknown',
 'unknown',
 'Bull shark, 1 m',
 'Bull shark',
 'unknown',
 'unknown',
 'a small shark',
 'White shark, 4 m',
 'unknown',
 'unknown',
 'Wobbegong shark, 2m',
 'White shark',
 'Broadnose sevengill shark, 1.5 m',
 'Tiger shark',
 'unknown',
 'unknown',
 'unknown',
 " 6' to 8' shark",
 'unknown',
 'unknown',
 'White shark',
 'unknown',
 'unknown',
 'unknown',
 'unknown',
 'White shark, 3.5 m',
 'unknown',
 'unknown',
 'unknown',
 'unknown',
 'unknown',
 '2 m shark',
 'unknown',
 "3' to 4' shark",
 "Tiger shark, 10'",
 'unknown',
 'unknown',
 'unknown',
 'unknown',
 "White shark, 8' to 10'",
 'Invalid',
 "Bull shark, 6'",
 'unknown',
 'Bull shark, 3.5 m',
 'unknown',
 'unknown',
 "Tiger shark, 10' ",
 'Blacktip shark',
 'Blue shark',
 'unknown',
 'White shark',
 "Nurse shark, 4'",
 'unknown',
 'unknown',
 'unknown',
 "Bull shark, 6'",
 'reef shark, 1m',
 "Tiger shark, 10' ",
 'unknown',
 'unknown',
 "White shark, 10' to 12'",
 'unknown',
 "Lemon shark, 9'",
 'Angel shark',
 'White shark',
 'dogfish shark',
 'White shark',
 'unknown',
 'Tawny nurse shark',
 "3' to 4' shark",
 'unknown',
 "Caribbean reef shark, 4.5'",
 'White shark',
 "3' to 5' shark",
 'unknown',
 "3' to 4' shark",
 "5' shark",
 "3' to 4' shark",
 "3' shark",
 "Said to involve an 8' shark but more likely damage caused by debris",
 'unknown',
 '3+ m shark',
 'Mako shark',
 'Bronze whaler sharks x 3',
 '3 m shark',
 'White shark',
 'unknown',
 "5' shark",
 'unknown',
 "Bull shark, 4' to 5'",
 'unknown',
 "Blacktip shark, 4'",
 "Nurse shark, 2'",
 'unknown',
 "Mako shark, 1.5 m [5'] ",
 "Bull shark, 6'",
 'unknown',
 'White shark',
 'Wobbegong shark',
 'Grey reef shark, 2 m',
 'Grey reef shark, 2 m',
 "Bull shark, 7'",
 'Tiger shark, 2.5 m',
 "5' to 6' shark",
 'unknown',
 'unknown',
 'unknown',
 'unknown',
 'Nurse shark, 2.5-ft',
 'unknown',
 'unknown',
 'unknown',
 'Bronze whaler',
 'Sandtiger shark',
 'unknown',
 'unknown',
 'unknown',
 'unknown',
 'unknown',
 'Sandtiger shark',
 'unknown',
 "Reef shark, 5'",
 'unknown',
 'Bull sharks x 2',
 'Mako shark',
 "Tiger shark, 14'",
 'Wobbegong shark',
 'Blacktip shark',
 '3 m shark',
 'White shark, 3 m',
 "Silky shark, 6.5'",
 "9' shark",
 "Bronze whaler shark, 6'",
 'Tiger shark, 1.5 m ',
 'unknown',
 'White shark, 3.5 m',
 'Bull shark',
 'unknown',
 'Galapagos shark',
 'unknown',
 'unknown',
 "Spinner shark, 7'",
 'Bull shark, 2.8 to 3.1 m',
 'unknown',
 "3' to 5' shark",
 'unknown',
 'unknown',
 'unknown',
 'White shark, 3 to 3.5m ',
 "5' shark",
 "Spinner shark, 5'",
 'unknown',
 "Tiger shark, 7'",
 'Hammerhead sp.',
 'unknown',
 "Tiger shark, 13' ",
 'unknown',
 'unknown',
 'unknown',
 "4' to 5' shark",
 "Blacktip shark, 4' to 5'",
 "Blacktip shark, 5' to 6'",
 'unknown',
 "White shark, 19'",
 'juvenile shark',
 "Tiger shark, 13'",
 "4' shark",
 'unknown',
 'Hammerhead shark',
 'unknown',
 'unknown',
 "6' shark",
 "White shark, 11' to 12'",
 'Hammerhead shark.',
 'White shark, 2.5 m',
 "4' shark?",
 'small shark',
 'Tiger shark',
 "White shark, 11' to 12'",
 "White shark, 10' to 12' ",
 'unknown',
 "4' shark",
 "3' shark",
 "White shark, 13'",
 "Hammerhead shark. 6' to 7'",
 'White shark',
 'unknown',
 'unknown',
 "Blacktip or spinner shark, 4'",
 'White shark, 3.9 to 4.2 m',
 'Mako shark, 100-lb',
 'Bronze whaler shark, 1.5m',
 'Bull shark, 2m',
 'White shark',
 "White shark, 7'",
 "6' shark",
 'unknown',
 'White shark',
 'White shark',
 "6' to 7' shark",
 'unknown',
 "4' to 5' shark",
 'Bull shark',
 'White shark',
 'White shark, 2m to 3 m',
 "4' shark",
 'Wobbegong shark',
 'unknown',
 'Sandtiger shark',
 'White shark',
 'small shark',
 'unknown',
 'unknown',
 'Bull shark',
 'Bull shark',
 'Mako shark',
 "4' shark",
 "Bull shark, 5'",
 'small nurse shark',
 'Bull shark, 2.5 m',
 'unknown',
 'unknown',
 '1m to 1.2 m shark',
 'unknown',
 "5' shark",
 "6' shark",
 'Bull shark, 3.5 m',
 'unknown',
 'White shark',
 'White shark, 3.5 m',
 'unknown',
 '3- to 4-foot shark',
 'White shark, 6 m',
 'White shark, 3 m',
 'Blue shark, 8 to 9 feet',
 'Bull shark',
 'unknown',
 'Bull shark',
 'White shark, 4 m',
 'Mako shark',
 'Tiger shark, 8 to 12 feet',
 'Blacktip shark',
 'unknown',
 'unknown',
 'Blacktip Reef shark ',
 'White shark',
 'Tiger shark, 3.5 m',
 '3.5 to 4 m shark',
 '2 m to  3 m shark',
 '1.8 m shark',
 'Bull shark, 1.3 m',
 "4' shark",
 'unknown',
 'unknown',
 'White shark',
 '5 m shark',
 '1.5 m shark',
 'white_shark',
 'Raggedtooth shark, 1.3 m',
 '"A small shark"',
 '2 m shark',
 'White shark, 4 to 5 m',
 "White shark, 8' to 10'",
 '1.5 m shark',
 'Goblin shark',
 'Tiger shark',
 'unknown',
 'unknown',
 'unknown',
 'White shark',
 'White shark',
 "2' shark",
 '1.5 m shark',
 'unknown',
 'unknown',
 "Tiger shark, 12'",
 'unknown',
 'Tiger shark',
 'unknown',
 'unknown',
 "12' to 14' shark",
 '1 m shark',
 "Bull shark, 3' to 4'",
 'unknown',
 'unknown',
 'Blacktip shark',
 'unknown',
 'Blacktip shark',
 "White shark, 18' to 20'",
 'White shark',
 "8' to 10' shark",
 'white_shark',
 'unknown',
 'Blacktip shark',
 "7' shark",
 'Bull shark',
 "White shark, 12' to 14'",
 "3' to 4' shark",
 'unknown',
 'Spinner shark',
 'Spinner shark or blacktip shark',
 'unknown',
 'small shark',
 "4' to 6' shark",
 'unknown',
 "Bull shark, 4.5' ",
 "4' shark",
 'reef shark',
 " Bull shark, 8'",
 'unknown',
 "Bull shark, 9' to 10'",
 'unknown',
 " Bull shark, 5'",
 "4' tp 5' shark",
 'unknown',
 'unknown',
 'unknown',
 'White shark',
 'Possibly juvenile tiger shark',
 '1.8 metre shark',
 'unknown',
 'Angel shark',
 "6' to 8' shark",
 "4' shark",
 'unknown',
 'unknown',
 " White shark, 7' ",
 'unknown',
 "4' to 5' shark",
 'white_shark',
 "Caribbean reef shark, 7' to 8'",
 'unknown',
 'unknown',
 ' Lemon shark, 3.5 m',
 'unknown',
 " Sandbar shark, 3' to 4'",
 'Bronze whaler shark, 1.5m',
 'unknown',
 'unknown',
 'Bull shark',
 'unknown',
 'Blacktip Reef shark ',
 ' Bull shark, 1.2m ',
 '3m shark',
 ' Tawney nurse shark, 1m',
 'unknown',
 'white_shark',
 'unknown',
 "4' to 5' shark",
 'Cow shark',
 "3' shark",
 'reef shark?',
 'unknown',
 'unknown',
 'White shark',
 ' Raggedtooth shark, 2m',
 'unknown',
 'unknown',
 'white_shark',
 '2 m shark',
 "4' to 5' shark",
 'unknown',
 'unknown',
 'unknown',
 'Wobbegong shark',
 'Invalid',
 'Blacktip or spinner shark?',
 'Blacktip reef shark ',
 'unknown',
 'unknown',
 'unknown',
 '7-gill shark?',
 '1m shark',
 '7-gill shark',
 'unknown',
 'white_shark',
 'White shark, 6 m',
 'Reported to involve a bull shark',
 'White shark, 3m ',
 'unknown',
 "Tiger shark, 10' to 12'",
 "4' to 6' shark",
 ' Wobbegong shark, 1.6 to 1.8m ',
 'unknown',
 'Tiger shark, 3m ',
 'unknown',
 'white_shark',
 "White shark, 10 '",
 'white_shark',
 'unknown',
 'unknown',
 'unknown',
 'Tiger shark',
 'Blacktip reef shark, 1m',
 'Thought to involve a bull shark',
 'white_shark',
 'Wobbegong shark',
 "Whitetip reef shark, 4' to 6'",
 'Tiger shark',
 'Nurse shark?',
 'White shark',
 'White shark',
 "White shark, 8' to 10'",
 'Small bull shark',
 'unknown',
 'unknown',
 'unknown',
 'unknown',
 'unknown',
 'Bull shark',
 "3' shark",
 'unknown',
 "3' shark",
 "3' shark",
 'unknown',
 'Nurse shark',
 'unknown',
 "4' shark",
 'Blacktip shark',
 'Salmon shark',
 "Mako shark, 5'",
 'unknown',
 'unknown',
 'unknown',
 'White shark',
 'Tiger shark?',
 'unknown',
 "Bull shark, 8'",
 'Blacktip shark',
 "Bull shark, 6' to 8'",
 'unknown',
 'unknown',
 "6' shark",
 'unknown',
 "Tiger shark, 8' to 10' ",
 'Nurse shark',
 'unknown',
 'unknown',
 'unknown',
 'unknown',
 'unknown',
 'unknown',
 'unknown',
 'unknown',
 'unknown',
 'White shark',
 "Possibly a Bull shark, 3'",
 "4' to 5' shark",
 "Tiger shark, 14'",
 'unknown',
 'unknown',
 'unknown',
 "4' to 5' shark",
 "Lemon shark, 4'",
 "6' shark",
 'Galapagos shark',
 'unknown',
 'unknown',
 'unknown',
 'Galapagos shark',
 'Invalid',
 'Bull shark',
 'a small shark',
 'Wobbegong, 2m',
 'Tiger shark',
 'Grey nurse shark, 3m',
 "3' shark",
 'Blue shark',
 'Bull shark',
 'unknown',
 'Possibly a blacktip reef shark',
 'unknown',
 "4' shark",
 'unknown',
 'Nurse shark',
 'unknown',
 'Raggedtooth shark, 1.5 m',
 'unknown',
 'Tiger shark, 4.8 m',
 'Bronze whaler shark, 2.5m',
 '"small sharks"',
 'unknown',
 'White shark, 4m',
 'reef shark?',
 'reef shark?',
 "Blacktip shark, 4' to 5'",
 'Lemon shark',
 'unknown',
 'White shark, 5m',
 'unknown',
 'unknown',
 "Tiger shark, 15'",
 'Bronze whaler shark, 3m',
 'unknown',
 'unknown',
 '2.5 m shark',
 'Bull shark, 2m ',
 'Tiger shark',
 "Tiger shark, 6'",
 "10' shark",
 'Sandtiger shark',
 'Seven-gill shark',
 "Tiger shark, 10'",
 '2.5 m shark',
 "2' to 3' shark",
 "Tiger shark, 15'",
 "Tiger shark, 8'",
 'White shark',
 "Tiger shark, 10' to 12' ",
 "White shark, 15' to 16' ",
 'unknown',
 'unknown',
 "6' to 8' shark",
 'unknown',
 'unknown',
 '2m shark',
 "5' shark",
 "4' shark",
 'unknown',
 'Possibly a 3 m bull shark',
 'unknown',
 'unknown',
 'unknown',
 'unknown',
 'unknown',
 'unknown',
 "3.5' to 4' shark",
 "Tiger shark, 10' to 12' ",
 "3.5' to 4' shark",
 "Porbeagle shark, 7'",
 'unknown',
 'unknown',
 'unknown',
 '4.5 m shark',
 "Lemon shark, 4' to 5' ",
 'Bull shark',
 'Lemon shark, 2.5m to 3m ',
 'unknown',
 'White shark or bronze whaler',
 'unknown',
 'white_shark',
 'unknown',
 'unknown',
 'Salmon shark suspected, but unlikely',
 'White shark, 5m',
 'unknown',
 'unknown',
 'unknown',
 "14' to 18'shark",
 "15' shark",
 'possibly a bull shark',
 'unknown',
 'a small reef shark',
 'unknown',
 'unknown',
 '3 m shark',
 'unknown',
 'Nurse shark',
 'small blacktip shark?',
 'small blacktip shark?',
 'Blacktip shark ',
 '1.5 m shark',
 'Blue shark, 2.5m',
 'White shark, 2 m',
 'unknown',
 'unknown',
 '18" to 24" shark',
 'Bull shark, 3m',
 "4' to 5' shark",
 "Tiger shark, 8' to 9' ",
 'unknown',
 'White shark',
 'unknown',
 'White shark',
 "5' shark",
 'White shark, 4 m to 5m ',
 'White shark, 6m ',
 "Tiger shark, 10'  ",
 'a small shark',
 'White shark, 4m ',
 'unknown',
 'White shark',
 'Possibly a bull shark',
 "Possibly a 5' to 6' bull shark",
 "4' to 5' shark",
 "4' to 5' shark",
 'unknown',
 'Tawny nurse shark, 40cm',
 'unknown',
 "4' shark",
 'unknown',
 'unknown',
 'Spinner shark',
 'Grey nurse shark',
 'White shark, 7m',
 'unknown',
 "6' to 8' shark",
 'Tiger shark, 3m',
 'Tiger shark',
 'Blue shark, 70-kg blue shark',
 'White shark, 2.7 m',
 'Thought to involve a bull shark',
 'White shark',
 '2 m shark',
 'Allegedly a 4 m tiger shark',
 'unknown',
 'unknown',
 'unknown',
 "7' to 8' shark ",
 'unknown',
 'White shark, 2.5m',
 'Wobbegong shark',
 'unknown',
 'unknown',
 'unknown',
 'Wobbegong shark?',
 "White shark, 15' to 16'",
 'unknown',
 'unknown',
 'unknown',
 'White shark',
 "8' to 10' shark",
 'Raggedtooth shark',
 "White shark, 10'",
 "White shark, 15'",
 'Port Jackson shark, 1m',
 "3' shark",
 "10' to 12' shark",
 'unknown',
 '2 to 2.5 m shark',
 'unknown',
 'unknown',
 'unknown',
 'White shark',
 "Bull shark, 6'",
 'unknown',
 'unknown',
 'unknown',
 'unknown',
 "4' to 6' shark",
 'unknown',
 'Tiger shark, 2m',
 'unknown',
 'White shark',
 "6' shark, possibly a blactip or spinner shark",
 "6' shark",
 'unknown',
 'unknown',
 'unknown',
 'unknown',
 "White shark, >6'",
 'unknown',
 "Possibly a 5' to 6' sandtiger shark",
 '4 m shark',
 'Grey reef shark ',
 'unknown',
 "Bull shark, 6'",
 'unknown',
 'unknown',
 'unknown',
 'unknown',
 'White shark, 3m to 4m',
 'unknown',
 'unknown',
 'unknown',
 'unknown',
 'unknown',
 'unknown',
 'unknown',
 'unknown',
 'unknown',
 'unknown',
 'Bull shark, 3m female',
 "Bull shark, 6'",
 "White shark, 5' k",
 'unknown',
 "5' shark",
 'unknown',
 'unknown',
 'white_shark',
 "Blacktip shark, 4'",
 'unknown',
 "Sevengill shark, 6' to 8'",
 "3' to 4' shark",
 'Blacktip reef shark ',
 'unknown',
 'White shark',
 "Tiger shark, 10'",
 'Tiger shark',
 'Zambesi shark',
 'unknown',
 ' Tiger shark, 2.8m',
 'unknown',
 "Sandbar shark, 8'",
 'Invalid',
 'unknown',
 "Bull shark, 12'",
 'reef shark, 1.5m',
 "1' to 2' shark",
 'possibly a bronze whaler shark',
 ' Bull shark, 2.5 m',
 'unknown',
 'Blacktip shark pup',
 'Bull shark',
 'Bull shark, 2.5m',
 'unknown',
 'unknown',
 '3 m to 4 m shark',
 'unknown',
 'unknown',
 'Bull shark, 2m',
 '1.5 m shark',
 'unknown',
 'White shark x 2',
 '1 m shark',
 'unknown',
 'unknown',
 'unknown',
 "6' shark",
 'unknown',
 'Caribbean reef shark',
 'unknown',
 'unknown',
 'White shark',
 "6' shark",
 'unknown',
 'unknown',
 'white_shark',
 'unknown',
 'Mako shark ',
 'Mako shark',
 'white_shark',
 'white_shark',
 'unknown',
 'unknown',
 'unknown',
 'unknown',
 'White shark',
 'White shark',
 'unknown',
 'unknown',
 'unknown',
 "Porbeagle shark, 8' ",
 'unknown',
 "White shark, 14' to 18' ",
 'unknown',
 'Bull shark, 1.4m ',
 'Lemon shark',
 "Possibly a 6' lemon shark",
 'unknown',
 'White shark',
 'unknown',
 'White shark',
 '2m shark',
 "3' shark",
 'unknown',
 'unknown',
 'unknown',
 'unknown',
 'unknown',
 'unknown',
 'White shark',
 'White shark',
 'unknown',
 'unknown',
 'unknown',
 'unknown',
 '3 m shark',
 "White shark, 15'",
 "3' to 4' shark",
 "4' shark",
 'unknown',
 'Possibly a small blacktip shark',
 "Sandtiger shark, 4' to 5'",
 'A small spinner shark',
 'Angel shark',
 'unknown',
 'Nurse shark, juvenile ',
 'unknown',
 "Blue shark, 7'",
 "4' shark",
 "8' shark",
 "Bull shark, 5'",
 'unknown',
 'unknown',
 '1 m shark',
 "4' shark",
 'unknown',
 'unknown',
 "Lemon shark, 4'",
 '20 to 30kg shark',
 '20 to 30kg shark',
 'unknown',
 'unknown',
 "4' shark",
 "Lemon shark, 6'",
 "14' shark",
 '2 m shark',
 'white_shark',
 '1.5 m shark',
 'Possibly a blue shark',
 '3 m shark',
 'unknown',
 '2 m shark',
 'Wobbegong shark, 1.6m',
 '2 m to 3 m shark',
 'White shark, 2.5m',
 "Spinner shark, 6'",
 'Invalid',
 'unknown',
 '1.5 m shark',
 'Thought to involve a juvenile hammerhead shark',
 'unknown',
 'unknown',
 'unknown',
 'White shark',
 'Whitetip reef shark, 1m',
 'unknown',
 'unknown',
 'unknown',
 'unknown',
 'unknown',
 'unknown',
 'unknown',
 ...]

In [45]:
#vamos a filtrar las especies

tiburones.loc[tiburones["species"].str.contains(("white" or "White")), "species"] = "white_shark"

In [46]:
tiburones

,case_number,date,year,type,country,area,location,activity,name,sex,...,species,investigator_or_source,pdf,href_formula,href,case_number.1,case_number.2,original_order,unnamed:_22,unnamed:_23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,AdysonMcNeely,F,...,unknown,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,unknown,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6297,ND.0005,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,...,unknown,"H. Taunton; N. Bartlett, p. 234",ND-0005-RoebuckBay.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0005,ND.0005,6.0,NaN,NaN
6298,ND.0004,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,...,unknown,"H. Taunton; N. Bartlett, pp. 233-234",ND-0004-Ahmun.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0004,ND.0004,5.0,NaN,NaN
6299,ND.0003,1900-1905,0.0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,...,unknown,"F. Schwartz, p.23; C. Creswell, GSAF",ND-0003-Ocracoke_1900-1905.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0003,ND.0003,4.0,NaN,NaN
6300,ND.0002,1883-1889,0.0,Unprovoked,PANAMA,NaN,"Panama Bay 8N, 79W",NaN,Jules Patterson,M,...,unknown,"The Sun, 10/20/1938",ND-0002-JulesPatterson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0002,ND.0002,3.0,NaN,NaN
6301,ND.0001,1845-1853,0.0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,...,unknown,S.W. Baker,ND-0001-Ceylon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0001,ND.0001,2.0,NaN,NaN

### Limpiando un poco el sexo

In [24]:
#vamos a solucionar el sexo que eso va a ser más sencillo
tiburones["sex"].unique()
tiburones["sex"].fillna('unknown', inplace=True)

tiburones["sex"].replace({'M ': 'M',
                'lli': 'unknown', 
                'N': 'unknown',
                '.': 'unknown'
                }, inplace=True)  #vamos a homogeneizar las "M" y vamos a rellenar los datos mal introducidos y los NaN

tiburones

,case_number,date,year,type,country,area,location,activity,name,sex,...,species,investigator_or_source,pdf,href_formula,href,case_number.1,case_number.2,original_order,unnamed:_22,unnamed:_23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,AdysonMcNeely,F,...,nan,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,nan,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6297,ND.0005,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,...,nan,"H. Taunton; N. Bartlett, p. 234",ND-0005-RoebuckBay.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0005,ND.0005,6.0,NaN,NaN
6298,ND.0004,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,...,nan,"H. Taunton; N. Bartlett, pp. 233-234",ND-0004-Ahmun.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0004,ND.0004,5.0,NaN,NaN
6299,ND.0003,1900-1905,0.0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,...,nan,"F. Schwartz, p.23; C. Creswell, GSAF",ND-0003-Ocracoke_1900-1905.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0003,ND.0003,4.0,NaN,NaN
6300,ND.0002,1883-1889,0.0,Unprovoked,PANAMA,NaN,"Panama Bay 8N, 79W",NaN,Jules Patterson,M,...,nan,"The Sun, 10/20/1938",ND-0002-JulesPatterson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0002,ND.0002,3.0,NaN,NaN
6301,ND.0001,1845-1853,0.0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,...,nan,S.W. Baker,ND-0001-Ceylon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0001,ND.0001,2.0,NaN,NaN

### Limpiando un poco los años

In [42]:
tiburones[["year", "date", "case_number"]][tiburones["year"].isna()]
tiburones[["year", "date", "case_number"]][tiburones['year']<1500] #hay muchos años que directamente no tienen demasiado sentido, por ejemplo estos
                                                                    #también podríamos rellenar con

       year            date case_number
6174  500.0  Circa 500 A.D.  0500.00.00
6175   77.0        77  A.D.  0077.00.00
6176    5.0      Ca. 5 A.D.  0005.00.00
6177    0.0    Ca. 214 B.C.   0000.0214
6178    0.0   Ca. 336.B.C..   0000.0336
...     ...             ...         ...
6297    0.0     Before 1903     ND.0005
6298    0.0     Before 1903     ND.0004
6299    0.0       1900-1905     ND.0003
6300    0.0       1883-1889     ND.0002
6301    0.0       1845-1853     ND.0001

[128 rows x 3 columns]